
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive;
}
header{
    height: 100px;
    width: 100%;
    background: #11886c;
    color: #3f3f3f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
section{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn_container{
    margin-top: 50px;
}
.bulb_btn{
    font-family: cursive;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #34dab4;
    font-size: 30px;
}